.detail-layout {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
    min-height: 100%;

    .detail-layout--flag {
        display: inline-block;
        max-height: 400px;
        max-width: 600px;
    }

    .detail-layout--content {
        .detail-layout--content-title {
            font-weight: 800;
            padding-bottom: 1.5rem;
        }

        .detail-layout--content-body {
            display: flex;
            padding-bottom: 2.5rem;
            grid-gap: 50px;

            div {
                flex: content;
            }

            p {
                margin-bottom: 0.5rem;
            }
        }

        .detail-layout--content-footer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
        }
    }

    @media screen and (max-width: 375px) {
        flex-direction: column;
        grid-gap: 50px;
        margin-bottom: 100px;

        .detail-layout--flag {
            width: 95%;
            margin: 0 auto;
        }

        .detail-layout--content-body {
            flex-direction: column;
            grid-gap: 50px;
        }

        .detail-layout--content-footer {
            b {
                display: block;
            }
        }
    }
}